.fondo{
  height: 100vh;
  background-color: rgb(30, 15, 66);
}
.container {
  min-height: 400px;
  width: 1300px;
  min-width: 1300px;
  height: 100vh;
  display: grid;
  place-content: center;
  margin: 0 auto;
  background-color: rgb(30, 15, 66);
}
.title {
  text-align: center;
  color: white;
}
.subtitle {
  color: white;
}
.box {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.tamanio {
  width: 30px;
}
p,
label {
  color: white;
}
.imgCheck{
  height: 24px;
  width: 24px;
  cursor: pointer;
}
.resultText{
  color: white;
}
.boxResult{
  min-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnGenerar{
  margin-top: 10px;
  background-color: #AC3EC1;
  height: 40px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.btnCopy{
  background-color: #AC3EC1;
  height: 40px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  width: 80px;
}